[build]
target = "xtensa-esp32s3-espidf"

# ESP32-S3 target (Heltec WiFi LoRa 32 V3)
[target.xtensa-esp32s3-espidf]
linker = "ldproxy"
rustflags = ["--cfg", "espidf_time64"]

# ESP32 target (Adafruit ESP32 Feather V2)
[target.xtensa-esp32-espidf]
linker = "ldproxy"
rustflags = ["--cfg", "espidf_time64"]

[unstable]
build-std = ["std", "panic_abort"]

[env]
MCU="esp32s3"
ESP_IDF_VERSION = "v5.3.3"
